/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Merriweather+Sans:wght@300&family=Noto+Sans:wght@200;300;400;500;600;700;900&display=swap");

:root {
  --cor-corpo: #f9f5f6;
  --cor-primaria: #204ea5;
  --cor-fonte-titulos: #3f68b5;
  --cor-fundo-partes: #bdd0f2;
  --cor-contraste: #ddc3f2;
}

.division {
  background-color: var(--cor-fonte-titulos);
  display: block;
  height: 8px;
  width: 8%;
}

body {
  background-color: var(--cor-corpo);
  font-family: "Noto Sans", sans-serif;
}

header {
  margin-top: 20px;
  padding: 0 8rem;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.menu__wrapper {
  align-items: center;
  display: flex;
  gap: 70px;
  justify-content: center;
}

.menu__logo img {
  max-width: 50px;
}

.menu__list {
  display: flex;
  gap: 30px;
  list-style: none;
}

.menu__item {
  font-family: "Merriweather Sans", sans-serif;
  text-transform: capitalize;
}

.menu__link {
  align-items: center;
}

.menu__btn {
  border: solid 1px var(--cor-primaria);
  border-radius: 2px;
  color: var(--cor-primaria);
  font-family: "Inter", sans-serif;
  padding: 7px 20px;
  text-decoration: none;
  transition: 0.3s;
}

.menu__btn:hover {
  color: #fff;
  background-color: var(--cor-primaria);
}

.active {
  border-bottom: 1px solid black;
}

/* Apresentação home */
.intro {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  padding: 0 8rem;
}

.intro__wrapper {
  display: flex;
  gap: 28px;
  flex-direction: column;
  width: 40%;
}

.intro__title {
  align-items: center;
  display: flex;
  font-size: 20px;
  font-weight: 600;
}

.intro__title span {
  background-color: var(--cor-primaria);
  display: inline-block;
  height: 3px;
  margin-right: 8px;
  width: 20px;
}

.intro__titlemain {
  font-size: 40px;
  font-weight: 900;
}

.intro__text {
  font-size: 16px;
  width: 75%;
}

.intro__btn {
  background-color: var(--cor-primaria);
  border-radius: 4px;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  padding: 14px 20px;
  box-shadow: 0 8px 12px rgba(66, 134, 244, 0.4);
  transition: 0.3s;
  width: fit-content;
}

.intro__img {
  border-radius: 40%;
  max-width: 350px;
  max-height: 400px;
}

.intro__decoration {
  background-color: var(--cor-primaria);
  border-radius: 100%;
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

.intro__right {
  align-items: flex-end;
  display: flex;
  justify-content: center;
  padding-right: 5rem;
  position: relative;
}

.services {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 70px;
  padding: 0 8rem;
  text-align: center;
}

.services__wrapper {
  align-items: center;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.service__title,
.posts__title {
  color: var(--cor-fonte-titulos);
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.services__maintitle,
.posts__maintitle,
.newsletter__title {
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  width: 50%;
}

.services__cards {
  display: flex;
  justify-content: space-between;
}

.services__text {
  margin-top: 10px;
  width: 80%;
}

.card {
  border: 1px var(--cor-fonte-titulos) dashed;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  text-align: left;
  width: 20%;
}

.card:hover {
  border: 1px var(--cor-fonte-titulos) solid;
  box-shadow: 0 3px 28px 8px rgba(0, 0, 0, 0.2);
}

.card i {
  background-color: var(--cor-fundo-partes);
  border-radius: 4px;
  color: var(--cor-fonte-titulos);
  font-size: 18px;
  margin-bottom: 5px;
  padding: 14px;
  width: fit-content;
}

.posts {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.posts__title {
  text-align: center;
  width: 100%;
}

.post {
  align-items: center;
  background-size: cover;
  background-position: center;
  border: 0;
  color: white;
  cursor: pointer;
  display: flex;
  font-size: 20px;
  font-weight: 900;
  height: 150px;
  padding: 0 40px;
  width: 100%;
}

.posts__maintitle {
  margin: 20px 0 60px 0;
  width: 100%;
}

.content {
  background-color: #bae4fd;
  overflow: hidden;
  transition: 2s ease-in-out;
}

.content p {
  padding: 40px;
}

.post-1 {
  background-image: url("img/example2.jpg");
}

.post-2 {
  background: linear-gradient(
    180deg,
    var(--cor-primaria),
    var(--cor-contraste)
  );
}

.post-3 {
  background-image: url("img/example3.jpg");
}

.content {
  max-height: 0;
}

.active--post,
.active--post-click {
  max-height: 500px;
}

.newsletter {
  align-items: center;
  background-color: var(--cor-fundo-partes);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  height: 150px;
  padding: 65px 0;
  width: 80%;
}

.newsletter__title {
  font-weight: 700;
}

.newsletter__text {
  font-size: 14px;
  margin-bottom: 30px;
}

.newsletter input {
  border: 1px solid var(--cor-fonte-titulos);
  border-radius: 5px;
  font-size: 14px;
  padding: 10px 20px;
}

.newsletter input[type="submit"] {
  background-color: var(--cor-primaria);
  color: white;
  font-weight: 700;
  transition: 0.3s;
}

.newsletter input[type="submit"]:hover,
.intro__btn:hover {
  background-color: var(--cor-fonte-titulos);
}

footer {
  align-items: flex-start;
  background-color: var(--cor-primaria);
  color: white;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  gap: 80px 120px;
  justify-content: flex-start;
  margin-top: 100px;
  padding: 30px 70px 30px 70px;
}

footer i {
  margin-right: 10px;
}

.footer__main {
  width: 30%;
}

.footer__icons i {
  font-size: 22px;
}

.footer__icons i:hover {
  color: var(--cor-fundo-partes)
}

.footer__icons {
  margin-top: 10px;
}

.footer__logo img {
  filter: brightness(3) grayscale(1);
  margin-left: 20px;
  max-width: 50px;
}

.copyright {
  text-align: center;
  width: 100%;
}

.footer__main,
footer ul {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
}

footer ul h4 {
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 700;
}
